.home {
    display: flex;
    flex-direction: column;
}

.home__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    width: 50%;
}

.home__more {
    background-color: #8739f9;
    padding: 20px 25px;
    border-radius: 50%;
    font-size: 2rem;
    user-select: none;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}

.home__more:hover {
    transform: scale(1.1);
}

.home__actual {
    width: 80%;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    background: #8739f9;
    color: #e5e5e5;
    transition: all 0.2s;
}

.home__actual:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media(max-width:900px) {
    .home__main {
        width: 100%;
    }
}

@media(max-width:400px) {
    .home__main {
        flex-direction: column;
    }
    .home__actual {
        width: 100%;
    }
}