.home {
    display: flex;
    flex-direction: column;
}

.home__main {
    display: flex;
    align-items: center;
    position: relative;
}

.home__more {
    background-color: #8739f9;
    padding: 20px 25px;
    border-radius: 50%;
    height: fit-content;
    font-size: 2rem;
    position: absolute;
    left: 80%;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.home__more:hover {
    transform: scale(1.1);
}

.home__actual {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    background: #8739f9;
    color: #e5e5e5;
    transition: all 0.2s;
}

.home__actual:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 40px;
    margin-bottom: 20px;
}