.post {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background: #8739f9;
    transition: all 0.2s;
}

.post:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.post>p {
    width: 50%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #e5e5e5;
}