.post {
    text-align: center;
    text-transform: capitalize;
    background-color: #8739f9;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 50px;
    margin-bottom: 10px;
    position: relative;
}

.post:hover {
    cursor: pointer;
}

.post>.manageIcons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.manageIcons>.MuiSvgIcon-root {
    transition: all 0.3s;
    opacity: 0;
}

.manageIcons.active {
    display: block;
}

.manageIcons>.MuiSvgIcon-root:hover {
    color: white;
    opacity: 1;
}