.post {
    text-align: center;
    text-transform: capitalize;
    background-color: #8739f9;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    border-radius: 50px;
    margin-bottom: 10px;
    position: relative;
}

.post:hover {
    cursor: pointer;
}

.post.editable {
    grid-template-columns: repeat(3, 0.5fr) 0.2fr 0.2fr;
}

.post>.manageIcon {
    display: none;
    align-self: center;
    transition: all 0.3s !important;
}

.post>.manageIcon.active {
    display: flex;
    align-items: center;
}

.post>.manageIcon:hover {
    color: white;
}

@media(max-width:450px) {
    .post>.manageIcon {
        flex-direction: column;
        width: 20px;
    }
}