.radio {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #908e9b;
    width: 100%;
    margin-bottom: 10px;
}

.radio>input {
    position: absolute;
    cursor: pointer;
    display: none;
}

.radio>.checkmark {
    position: absolute;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    transition: all 0.3s;
}

.radio:hover>input~.checkmark {
    background-color: #ccc;
}

.radio>input:checked~.checkmark {
    background-color: #37b9f1;
}

.radio>.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio>input:checked~.checkmark:after {
    display: block;
}

.radio>.checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}